# Shaikh's real effective exchange rate
### Calculations on the real effectice exchange rate between japan and the US 

The goal is to reproduce figure 11.4 and 11.5 from the book "Capitalism - Competition, Conflict, Crises" 

The real effective exchange rate is calculated as the vertically integrated unit labor costs (vulc) times a factor of the share of exports (tau).

Theta can have the form of the share of exports over GDP (exp/gdp) or of consumer price index over producer price index (CPI/PPI)

Therefore: 

$$ \frac{vulcr}{vulcr*} \cdot \frac{\tau}{\tau*}$$

or equivalent

$$ \frac{(\frac{ULC}{CPI})}{(\frac{ULC*}{CPI*})} \cdot \frac{(\frac{exp}{gdp})}{(\frac{exp*}{gdp*})}$$

# import data

### Japan

In [1]:
import pandas as pd

In [2]:
exp_gdp = pd.read_csv("EXP-GDP/API_NE.EXP.GNFS.ZS_DS2_en_csv_v2_431603.csv",skiprows=3,delimiter=",")
exp_gdp.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Exports of goods and services (% of GDP),NE.EXP.GNFS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,72.852913,71.820435,72.548690,72.252774,73.234592,55.32681,69.069709,83.124605,NaN,NaN
1,Africa Eastern and Southern,AFE,Exports of goods and services (% of GDP),NE.EXP.GNFS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.046024,23.249929,23.824897,25.315921,23.903124,22.03616,25.922406,27.595354,24.50316,NaN

In [51]:
# % share of Exports over GDP on a YEARLY basis 
print(exp_gdp[exp_gdp["Country Code"] == "JPN"].columns)

exp_gdp_ss = exp_gdp[exp_gdp["Country Code"].isin(["JPN","USA"]) ].drop(
    ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code','Unnamed: 68'],axis=1).T.rename(
    columns={119:'jpn_exp_gdp',251:'usa_exp_gdp'})

exp_gdp_ss.head(2)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

      jpn_exp_gdp  usa_exp_gdp
1960          NaN          NaN
1961          NaN          NaN

In [53]:
# DAILY basis
usd_yen = pd.read_csv("FX-Rate-USD-YEN/dollar-yen-exchange-rate-historical-chart.csv",skiprows=15)
print(usd_yen.head(2))

         date   value
0  1971-01-04  357.73
1  1971-01-05  357.81

In [63]:
# CPI from the world bank on a YEARLY basis

jpn_cpi = pd.read_csv("JPN-CPI/API_FP.CPI.TOTL_DS2_en_csv_v2_527528.csv",skiprows=3,delimiter=",")

# _wb = WORLD BANK

cpi_wb_ss = exp_gdp[exp_gdp["Country Code"].isin(["JPN","USA"]) ].drop(
    ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code','Unnamed: 68'],axis=1).T.rename(
    columns={119:'jpn_cpi_wb',251:'usa_cpi_wb'})


print(cpi_wb_ss.head(2))
print(cpi_wb_ss.tail(2))

      jpn_cpi_wb  usa_cpi_wb
1960         NaN         NaN
1961         NaN         NaN
      jpn_cpi_wb  usa_cpi_wb
2022   21.541723   11.633909
2023         NaN         NaN

In [67]:
# finished goods PPI from FRED  on a MONTHLY basis
jpn_ppi = pd.read_csv("JPN-PPI/PISPFG01JPM661N.csv")
jpn_ppi = jpn_ppi.rename(columns={'PISPFG01JPM661N':'jpn_ppi'})
print(len(jpn_ppi))
print(jpn_ppi.head(2))
print(jpn_ppi.tail(2))

748
         DATE  jpn_ppi
0  1960-01-01  62.8903
1  1960-02-01  62.8903
           DATE  jpn_ppi
746  2022-03-01     99.9
747  2022-04-01    100.7

In [66]:
# UNIT LABOR COSTS FROM FRED 
jpn_ulc = pd.read_csv("JPN-ULC/ULQECU01JPQ661S.csv")
jpn_ulc = jpn_ulc.rename({'ULQECU01JPQ661S':'jpn_ulc'})
print(len(jpn_ulc))
print(jpn_ulc.head(2))
print(jpn_ulc.tail(2))

175
         DATE  ULQECU01JPQ661S
0  1980-01-01        67.467467
1  1980-04-01        68.412182
           DATE  ULQECU01JPQ661S
173  2023-04-01       107.630371
174  2023-07-01       107.373853

### United States

In [7]:
us_cpi = pd.read_table("US-CPI/cu.data.1.AllItems")
us_cpi.head(2)

   series_id          year period         value  footnote_codes
0  CUSR0000SA0        1947    M01         21.48             NaN
1  CUSR0000SA0        1947    M02         21.62             NaN

In [8]:
us_ppi = pd.read_table("US-PPI/pc.data.01.aggregates")
us_ppi.head(2)

   series_id                       year period         value footnote_codes
0  PCUADLVWRADLVWR                 2006    M12         100.0            NaN
1  PCUADLVWRADLVWR                 2007    M01         103.7            NaN

In [9]:
us_ulc = pd.read_table("US-ULC/pr.data.1.AllData")
us_ulc.head(2)

   series_id          year period         value footnote_codes
0  PRS30006011        1988    Q01           1.9            NaN
1  PRS30006011        1988    Q02           2.2            NaN